.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-container {
 width: 50%;
 height: 60vh;
 background-color: #fff;
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-radius: 10px;
 flex-direction: column;
 padding: 1rem;
 padding-bottom: 100px;
}

.modal-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  cursor: pointer;
}

.modal-button button {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.loading-statement {
  text-align: center;
  color: var(--main-black);
}

.wallet-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.modal-connectors {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.error {
  height: 30px;
  padding: 10px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(230, 129, 129);
  border-radius: 10px;
}