.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 60px;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 30px;
    margin-right: 10px;
  }
  
  .logo p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .connect-button {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 10px;
  }
  
  .connect-button:hover {
    background-color: #5e5d5d;
    color: #fff;
  }
  