/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Add styles for the navbar */
  .navbar {
    width: 100%;
    /* Add your navbar styles here */
  }
  
  /* Add styles for the description container */
  .description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    padding: 10px;
    height: 90vh;
  }
  
  /* Add styles for the description part */
  .description-part {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Add styles for the description text */
  .description-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
  }

  .dao-description {
    font-size: 2rem;
  }

  .register-button {
    margin: 30px;
    background-color: green;
  }
  
  /* Add styles for the image container */
  .image-container {
    width: 40%;
    display: flex;
    justify-content: center;
  }
  
  /* Add styles for the description images */
  .description-image {
    width: 100%;
    margin-right: 100px;
  }

  .dao-register {
    cursor: pointer; 
  }
  
  /* Add your additional styles here */

  /* Media query for tablet landscape and below (1280px - 1024px) */
@media screen and (max-width: 1280px) {
  .description-text {
    margin: 0 30px;
  }
  .dao-description {
    font-size: 1.5rem;
  }
}

/* Media query for tablets and below (768px - 480px) */
@media screen and (max-width: 768px) {
  .description-part {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-top: 70px; */
  }

  .dao-description {
    font-weight: 500;
    font-size: 1.5rem;
  }
   
  .image-container {
    margin-left: 100px;
    margin-top: 50px;
  } 

  .description-image {
    width: 160%;
  }
}

