.login-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


  h2 {
    width: 300px;
    height: 16px;
    border-radius: 9px;
    font-weight: 600;
    border: none;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    height: 70%;
    width: 80%;
  }

  
  .invested-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .invested-form div {
    margin: 10px;
  }
  
  
  .descriptionArea{
    font-weight: 400;
    border-radius: 12px;
    border: none;
    display: flex;
    flex-direction: column;
  }

  .withdraw-button, .exit-button {
    background-color: #0b1e60;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 30px;
  }

  .exit-button {
    background-color: rgb(224, 98, 98);
  }

  .investors {
    display: block;
  }

  .reports {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .reports div {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 3px;
    padding: 10px;
    cursor: pointer;
  }

  .reports div a {
    text-decoration: none;
  }

  @media screen and (min-width: 480px) { 
    .login-form {
      width: 490px;
      padding: 100px;
    }
  }